extends layout

block content
    .container
        .row
            .col-sm-9.col-md-7.col-lg-5.mx-auto
                .card.card-signin.my-5
                    .card-body
                        h5.card-title.text-center Register
                        form.form-signin

                            .form-label-group
                                input#inputEmail.form-control(type='email', placeholder='Email address', required='', autofocus='')
                                label(for='inputEmail') Email address

                            .form-label-group
                                input#inputEmail.form-control(type='text', placeholder='fullname', required='', autofocus='')
                                label(for='inputFullName') Full name
                            .form-label-group
                                input#inputEmail.form-control(type='text', placeholder='username', required='', autofocus='')
                                label(for='inputUserName') User name

                            .form-label-group
                                input#inputPassword.form-control(type='password', placeholder='Password', required='')
                                label(for='inputPassword') Password

                            button#register.btn.btn-lg.btn-primary.btn-block.text-uppercase(type='button') Register

                            hr.my-4

                            a(href='/').float-right Login



                            button.btn.btn-lg.btn-google.btn-block.text-uppercase(type='submit')
                                i.fab.fa-google.mr-2
                                |  Sign in with Google

                            button.btn.btn-lg.btn-facebook.btn-block.text-uppercase(type='submit')
                                i.fab.fa-facebook-f.mr-2
                                |  Sign in with Facebook


